[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
run = "python manage.py runserver"
run_celery = "celery -A config worker -l info"

[packages]
django = "==5.0.2"
pillow = "==10.2.0"
psycopg = {extras = ["binary"], version = "==3.1.18"}
python-decouple = "==3.8"
django-taggit = "*"
markdown = "*"
celery = "*"
cloudinary = "*"

[dev-packages]
ruff = "==0.3.0"
djlint = "==1.34.1"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
