{% extends 'base.html' %}
{% load static %}

{% block links %}
  <link href="{% static 'css/dropdown-styles.css' %}" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
{% endblock %}

{% block title %}
  Crear Publicación
{% endblock %}

{% block content %}
  <div class="container">
    <div class="main-content form-contact">
      
      <section>
        
        <div class="section-title">
          <h2><span>Crear Nueva Publicación</span></h2>
        </div>
        
        <div class="article-post">
        
          <form method="post" enctype="multipart/form-data">
          
            {% csrf_token %}

            <div class="form-group mb-3">
              <label class="form-label" for="title">Titulo</label>
              <input type="text" name="title" class="form-control" 
                     placeholder="Ingrese el titulo del post" required id="title"/>
            </div>

            <div class="form-group mb-3">
              <label class="form-label" for="content">Contenido</label>
              <textarea name="content" cols="40" rows="10" class="form-control" 
                        placeholder="Ingrese el contenido del post" required id="content"></textarea>
            </div>

            
            <div class="form-group row mb-3">
            
              <div class="col-md-6">
                <label class="form-label" for="cover-image">Cover image</label>
                <input type="file" name="cover_image" class="form-control" 
                       accept="jpg, jpeg, png" aria-invalid="true" id="cover-image"/>
              </div>
            
              <div class="col-md-6">
                
                <label class="form-label" for="tags">Tags</label>
                <input type="hidden" name="tags" class="form-control tags-input" 
                         id="tags" placeholder="Selecciona los tags"/>
                
                <div class="dropdown" id="dropdownMenu">
                  
                  <a class="btn btn-secondary dropdown-toggle w-100" href="#" role="button" 
                     data-bs-toggle="dropdown" aria-expanded="false" id="btn-text">
                    Selecciona los tags
                  </a>
                  
                  <ul class="dropdown-menu list-items w-100">
                    {% for tag in tags %}
                    <li class="item">
                      <span class="checkbox">
                        <i class="fa-solid fa-check check-icon"></i>
                      </span>
                      <span class="item-text">{{ tag.name }}</span>
                    </li>
                    {% endfor %}
                  </ul>
                  
                </div>
                
              </div>
            
            </div>
            <div class="form-group pb-2">
              <input class="btn btn-success btn-md" type="submit" value="Crear" />
            </div>
            
          </form>
          
        </div>
        
      </section>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/dropdown-script.js' %}"></script>
{% endblock %}
